<% @title="Gamalino's News| Add new post" %>
<div class ="block container" id="add-post">
<div class = "for_space container"><br><br>
<h2 class="title font-italic" id="pink" >Add Post</h2>

    <%= form_for @post, url: posts_path do |f| %>
      <% if @post.errors.any? %>
       <% @post.errors.full_messages.each do |msg|%>
         <div class="alert alert-danger"><%= msg %></div>
          <% end %>
    <% end %>  
<br> 
      
      
      
        <%= f.label :Title %>:
        <%= f.text_field :title, {:class => "form-control"} %><br />
      
        <%= f.label :Content %>:
        <%= f.text_area :content, {:class => "form-control"} %><br />

        <div class = "dropdown">
        <%= f.label :category_id, {:class => "dd-control"} %>
        <%= f.collection_select :category_id, @categories, :id, :name%>
        </div>
        <%= f.submit({:class => "btn btn-secondary"})%>
      <% end %>
<br>
<br>
</div>
</div>
